@use "../theme/typography" as typo;
@use "../theme/colors" as color;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../util/mixins" as mixins;

body {
	background-color: color.$background-main;

	font-family: typo.$fm-text;
	line-height: 1.5;
	font-size: typo.$fs-medium;
	font-weight: typo.$fw-normal;
	color: color.$background-main;
}

h1,
h2,
h3 {
	font-family: typo.$fm-title;
	font-weight: typo.$fw-medium;
	line-height: 1.2;
	text-wrap: balance;
	text-align: center;
	color: color.$main;
}

h1 {
	font-size: typo.$fs-huge;
	font-weight: typo.$fw-bold;
	color: color.$main;
}
h2 {
	font-size: typo.$fs-bigger;
}
h3 {
	font-size: typo.$fs-big;
	text-align: left;
	color: color.$background-main;
}

p {
	margin: space.$xxs 0;

	text-wrap: pretty;
	color: color.$background-main; //TODO: Aplicar cuando se tenga los estilos de fondo
}

button {
	@include mixins.element-wrapper;
	padding: space.$xxs space.$sm;
	border-radius: border.$radius-large;

	font-family: typo.$fm-text;
	font-size: typo.$fs-big;
	font-weight: typo.$fw-medium;
	color: color.$main;

	&:active {
		background-color: color.$secondary;
		border-color: color.$background-main;
		color: color.$background-main;
	}
}

img {
	max-width: 100%;
}

input,
textarea {
	@include mixins.element-wrapper;
	padding: space.$xxs space.$xs;
	margin: space.$xxs 0;
	border-radius: border.$radius-medium;

	color: color.$main;

	&::placeholder {
		color: inherit;
	}

	&:focus {
		outline: none;
	}
}
