@use "../util/functions" as fn;
@use "../util/mixins" as mixins;
@use "../layout/breakpoints" as bp;
@use "../theme/typography" as typo;
@use "../theme/colors" as color;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;

.benefits {
	&__deck {
		display: grid;
		gap: space.$md;
	}

	&__card {
		padding: space.$sm space.$md;
		@include mixins.section-wrapper(border.$radius-medium);

		display: grid;
		justify-items: center;
		gap: space.$xxs;

		&-icon {
			max-height: fn.pxToRem(300);
			border-radius: border.$radius-large;
			margin-bottom: space.$sm;
		}

		&-title {
			font-weight: typo.$fw-bold;
			text-align: center;
		}

		&-text {
			margin: 0;
			text-align: center;
		}
	}

	@include bp.breakpoint("sm") {
		&__deck {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
