@use "../theme/typography" as typo;
@use "../theme/colors" as color;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../util/mixins" as mixins;

.join {
	@include mixins.section-wrapper(border.$radius-small);
	padding: space.$md;

	&__title {
		color: color.$background-main;
	}
	&__form {
		display: grid;
		gap: space.$md;
	}

	&__btn {
		margin-top: space.$sm;
	}
}
