@use "../theme/typography" as typo;
@use "../theme/colors" as color;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../util/mixins" as mixins;

.join {
	&__form {
		@include mixins.section-wrapper(border.$radius-small);
		padding: space.$sm;

		display: grid;
		gap: space.$md;
	}

	&__btn {
		margin-top: space.$sm;
	}
}
