@use "../theme/typography" as typo;
@use "../theme/colors" as color;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../util/mixins" as mixins;

.testimonies {
	&__title {
		font-weight: typo.$fw-medium;
	}

	&__deck {
		display: grid;
		gap: space.$md;
	}

	&__card {
		@include mixins.section-wrapper(border.$radius-large);
		padding: space.$sm space.$xs;

		&-header {
			padding-bottom: space.$xs;
			border-bottom: border.$width-light solid color.$background-main;

			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			gap: space.$xxs;
		}

		&-photo {
			max-height: 80px;
			border-radius: 100%;
		}
	}
}
