@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

body {
  background-color: #e3f2fd;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  color: #e3f2fd;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  text-wrap: balance;
  text-align: center;
  color: #0d47a1;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #0d47a1;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.25rem;
  text-align: left;
  color: #e3f2fd;
}

p {
  margin: 0.5rem 0;
  text-wrap: pretty;
  color: #e3f2fd;
}

button {
  background-color: #bbdefb;
  border: 0.25rem solid #1e88e5;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #0d47a1;
}
button:active {
  background-color: #1e88e5;
  border-color: #e3f2fd;
  color: #e3f2fd;
}

img {
  max-width: 100%;
}

input,
textarea {
  background-color: #bbdefb;
  border: 0.25rem solid #1e88e5;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: #0d47a1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
}
input::placeholder,
textarea::placeholder {
  color: inherit;
}
input:focus,
textarea:focus {
  outline: none;
}

.layout {
  max-width: 75rem;
  padding: 1.25rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  text-align: center;
}
.header__subtitle {
  color: #0d47a1;
}

.main {
  margin: 2rem 0;
  display: grid;
  gap: 2rem;
}

.footer {
  text-align: center;
}
.footer__text {
  color: #0d47a1;
  font-size: 0.75rem;
  font-weight: 300;
}

.hero {
  display: grid;
  gap: 1.25rem;
}
.hero__img {
  border-radius: 0.75rem;
}
.hero__title {
  margin-bottom: 0;
  color: inherit;
}
.hero__info {
  background-color: #0d47a1;
  border: 0.25rem solid #1e88e5;
  border-radius: 0.25rem;
  padding: 1.25rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  color: #e3f2fd;
}
.hero__btn {
  margin-top: 1.25rem;
}
@media (min-width: 43.75rem) {
  .hero {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
}

.benefits__deck {
  display: grid;
  gap: 1.25rem;
}
.benefits__card {
  padding: 1rem 1.25rem;
  background-color: #0d47a1;
  border: 0.25rem solid #1e88e5;
  border-radius: 0.5rem;
  display: grid;
  justify-items: center;
  gap: 0.5rem;
}
.benefits__card-icon {
  max-height: 18.75rem;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}
.benefits__card-title {
  font-weight: 700;
  text-align: center;
}
.benefits__card-text {
  margin: 0;
  text-align: center;
}
@media (min-width: 43.75rem) {
  .benefits__deck {
    grid-template-columns: repeat(3, 1fr);
  }
}

.testimonies__title {
  font-weight: 600;
}
.testimonies__deck {
  display: grid;
  gap: 1.25rem;
}
.testimonies__card {
  background-color: #0d47a1;
  border: 0.25rem solid #1e88e5;
  border-radius: 0.75rem;
  padding: 1rem 0.75rem;
}
.testimonies__card-header {
  padding-bottom: 0.75rem;
  border-bottom: 0.125rem solid #e3f2fd;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.testimonies__card-photo {
  max-height: 5rem;
  border-radius: 100%;
}
@media (min-width: 43.75rem) {
  .testimonies__deck {
    grid-template-columns: repeat(2, 1fr);
  }
}

.farewell {
  display: grid;
  align-items: center;
  gap: 1.25rem;
}
@media (min-width: 43.75rem) {
  .farewell {
    grid-template-columns: 3fr 1fr;
  }
}

.join {
  background-color: #0d47a1;
  border: 0.25rem solid #1e88e5;
  border-radius: 0.25rem;
  padding: 1.25rem;
}
.join__title {
  color: #e3f2fd;
}
.join__form {
  display: grid;
  gap: 1.25rem;
}
.join__btn {
  margin-top: 1rem;
}

.network {
  background-color: #0d47a1;
  border: 0.25rem solid #1e88e5;
  border-radius: 0.75rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 0;
  display: grid;
  gap: 0.75rem;
}
.network__title {
  color: #e3f2fd;
}
.network__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.network__icon {
  color: #e3f2fd;
  font-size: 1.875rem;
}
@media (min-width: 43.75rem) {
  .network {
    padding: 1.25rem;
    gap: 3rem;
  }
  .network__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */