@use "../util/functions" as fn;

$width-light: fn.pxToRem(2);
$width-medium: fn.pxToRem(4);
$width-bold: fn.pxToRem(6);
$width-heavy: fn.pxToRem(8);

$radius-small: fn.pxToRem(4);
$radius-medium: fn.pxToRem(8);
$radius-large: fn.pxToRem(12);
