@use "../util/functions" as fn;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fm-title: "Montserrat", sans-serif;
$fm-text: "Roboto", sans-serif;

$fs-smallest: fn.pxToRem(12);
$fs-small: fn.pxToRem(14);
$fs-medium: fn.pxToRem(16);
$fs-big: fn.pxToRem(20);
$fs-bigger: fn.pxToRem(24);
$fs-huge: fn.pxToRem(32);

$fs-desk-smallest: fn.pxToRem(14);
$fs-desk-small: fn.pxToRem(16);
$fs-desk-medium: fn.pxToRem(18);
$fs-desk-big: fn.pxToRem(24);
$fs-desk-bigger: fn.pxToRem(32);
$fs-desk-huge: fn.pxToRem(48);

// $fw-thin: 100;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 600;
$fw-bold: 700;
// $fw-black: 900;
