@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fm-title: "Montserrat", sans-serif;
$fm-text: "Roboto", sans-serif;

$fs-smallest: 12px;
$fs-small: 14px;
$fs-medium: 16px;
$fs-big: 20px;
$fs-bigger: 24px;
$fs-huge: 32px;

$fs-desk-smallest: 14px;
$fs-desk-small: 16px;
$fs-desk-medium: 18px;
$fs-desk-big: 24px;
$fs-desk-bigger: 32px;
$fs-desk-huge: 48px;

// $fw-thin: 100;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 600;
$fw-bold: 700;
// $fw-black: 900;
